@model smoothie.Models.Company

@{
    ViewData["Title"] = "Edit Company";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Create Company</h2>
            <form asp-action="Create" method="post">
                <input type="hidden" asp-for="Id" />
                
                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label">First Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter something pls)"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}